<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>

</head>
<body style="font-family: Arial, sans-serif; background-color: #f7f7f7; margin: 0; padding: 0;">
    <section style="max-width: 600px; margin: auto; padding: 20px; background-color: #ffffff;">
        <header style="text-align: left;">
            <a href="#">
                <img src="cid:email_image" alt="Company Logo" style="width: auto; height: 40px;">
            </a>
        </header>

        <main style="margin-top: 20px;">
            <h2 style="color: #333333;">Hi {{user}},</h2>

            <p style="margin-top: 10px; color: #666666;">
                This is your verification code: <strong>{{token}}</strong>
            </p>

            <p style="margin-top: 20px; color: #666666;">
                This code will only be valid for the next 5 minutes.
            </p>

            <a href="http://localhost:8080/confirm/{{ token }}/{{id}}"
               style="display: inline-block; padding: 10px 20px; margin-top: 20px; font-size: 14px; font-weight: bold; text-align: center; color: #ffffff; background-color: #1bd1a7; text-decoration: none; border-radius: 5px;">
                Verify email
            </a>
        </main>

        <footer style="margin-top: 20px; text-align: center; color: #666666;">
            <p>
                This email was sent to <a href="#" style="color: #007bff;">contact@merakiui.com</a>.
                If you'd rather not receive this kind of email, you can <a href="#" style="color: #007bff;">unsubscribe</a> or <a href="#" style="color: #007bff;">manage your email preferences</a>.
            </p>
            <p style="margin-top: 10px;">© {{current_year }}. All Rights Reserved.</p>
        </footer>
    </section>
</body>
</html>
